:root {
  --main-light-color: #fdfdff;
  --main-dark-color: #393d3f;
  --main-primary-color: #61787e;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--main-light-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  all: unset;
}

.header {
  padding: 1rem;
  background-color: var(--main-light-color);
  color: var(--main-primary-color);
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 1rem var(--main-dark-color);
  margin-bottom: 1rem;
}

.header--logo {
  margin-right: 1rem;
  height: 3rem;
}

.header--title {
  font-size: 2rem;
  font-weight: 600;
}

.split {
  display: flex;
  flex-direction: row;
  min-height: 85vh;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.listItem {
  background-color: var(--main-light-color);
  color: var(--main-dark-color);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--main-dark-color);
}

.listItem:hover {
  background-color: var(--main-primary-color);
  color: var(--main-light-color);
  box-shadow: 0px 0px 0.7rem var(--main-dark-color);
}

.selectedListItem {
  background-color: var(--main-primary-color);
  color: var(--main-light-color);
  box-shadow: 0px 0px 0.7rem var(--main-dark-color);
}

.listItem--left {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.listItem--title {
  font-size: 1.2rem;
  font-weight: 600;
}

.listItem--subtitle {
  font-size: 1rem;
}

.listItem--delete {
  padding: 2rem;
  cursor: pointer;
}

.list--add {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: large;
  font-weight: 700;
  width: 100%;
}
